.task-priority-container {
  padding: 1rem;
}

.priority-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.header-container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.header-details {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.priority-text {
  font-weight: 600;
}

.task-count {
  color: rgb(107, 114, 128);
}

.header-actions {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.action-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.task-card {
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin-bottom: 0.75rem;
  border: 1px solid #c2baba;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.task-id {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(107, 114, 128);
}

.task-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.task-info {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
}

.tag-container {
  border: 1px solid #c2baba;
  border-radius: 0.25rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.label-container {
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c2baba;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.icon-small {
  width: 0.75rem;
  height: 0.75rem;
}

.label-text {
  color: rgb(107, 114, 128);
}
